@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: poppins;
  src: url(./assets/fonts/Poppins-Medium.ttf);
  font-weight: 400;
}
@font-face {
  font-family: poppins;
  src: url(./assets/fonts/Poppins-Light.ttf);
  font-weight: 200;
}

body {
  font-family: poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-result-child {
  @apply bg-trimmedWhite hover:bg-bitTrimmedWhite transition duration-100 cursor-pointer w-full h-12 text-base border-t border-t-gray-300 flex items-center px-4 text-gray-600;
  text-shadow: none;
}

#sun-w {
  background-image: url(./assets/images/suny.jpg);
}
#cloud-w {
  background-image: url(./assets/images/cloudy.jpg);
}
#bit-cloudy-w {
  background-image: url(./assets/images/bit-cloudy.jpg);
}
#rain-w {
  background-image: url(./assets/images/rainy.jpg);
}
#snow-w {
  background-image: url(./assets/images/snowy.jpg);
}

.ico {
  @apply block min-w-4 min-h-4;
  background-size: 100%;
}
.wind-speed {
  background-image: url(assets/icons/wind.png);
}
.humidity {
  background-image: url(assets/icons/humidity.png);
}
.location {
  background-image: url(assets/icons/place.png);
}
.search {
  background-image: url(assets/icons/search.png);
}
.sun {
  background-image: url(assets/icons/suny.png);
}
.cloud {
  background-image: url(assets/icons/cloudy.png);
}
.bit-cloud {
  background-image: url(assets/icons/bit-cloudy.png);
}
.rain {
  background-image: url(assets/icons/rainy.png);
}
.snow {
  background-image: url(assets/icons/snowy.png);
}

#selected-day {
  @apply opacity-100 scale-110;
}